/** CSS STYLE **/
@font-face {
  font-weight: normal;
  font-family: Neucha;
  font-style: normal;

  src: url("../../assets/fonts/Neucha/Neucha-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: normal;
  font-family: OpenSans;
  font-style: normal;

  src:
    url("../../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
}

:root {
  --white: #fff;
  --white-transp: #d7ccc0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transp: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: var(--dark);
  font: 16px/1.6 OpenSans, sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

section {
  position: relative;

  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

section::before {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.content-wrap {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.img-main {
  position: absolute;
  top: 55px;
  right: -105px;

  height: 525px;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  margin-top: 0;
  margin-bottom: 185px;

  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  width: 540px;
}

.main-col {
  color: var(--main);
}

.mt-40 {
  display: block;
  margin-top: 40px;
}

.btn {
  width: 148px;
  height: 49px;
  padding: 12px 24px;

  color: var(--white);

  font: 700 16px/1.6 OpenSans, sans-serif;

  background-color: var(--main);
  border: none;
}
